// 4 features used: variables, mixins, color functions (darken), and loop

// VARIABLES
$primary-color: #4b694c;
$secondary-color: #64a6db;
$third-color: #835286;
$text-color: #573b0a;
$button-border-radius: 4px;
$button-padding: 8px 16px;
$button-font-size: 40px;
$button-font-weight: bold;


// MIXINS
@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border-radius: $button-border-radius;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  justify-content: center;
  align-items: center;


// hover color ---> darken by 35%
  &:hover {
    background-color: darken($bg-color, 35%);
  }
}

// buttons
.button {
  @include button($primary-color, $text-color);
}

.secondary-button {
  @include button($secondary-color, $text-color);
}

.third-button {
  @include button($third-color, $text-color);
}


// titles and subtitles
.title {
  font-size: 24px;
  font-weight: bold;
  color: $text-color;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: $secondary-color;
}

// Using LOOP to make 4 boxes of varying sizes
@for $i from 1 through 4 {
  .box-#{$i} {
    width: 100px * $i;
    height: 100px * $i;
    background-color: $secondary-color;
    margin: 20px;
    float: center;
    justify-content: center;
    align-items: center;
  }
}
